body{
    background-color: black;
    color: white;
    padding: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;    
}

.center{
    padding: 30px;
    background-color: grey;
    width: 1260px;
    margin-left: 50px;
    border-radius: 15px;
}
span{
    color: rgb(255, 139, 158);
}
button{
    background-color: rgb(255, 139, 158);
    padding: 10px;
    border-radius: 20px;
    border-color: rgb(255, 139, 158);
}

.left{
    display: inline-block;
    padding: 30px;
}
img{
    height: 200px;
    width: 200px;
}
.div{
    background-color: rgb(99, 91, 91);
    border-radius: 30px;
    padding-bottom: 40px;
    padding-top: 40px;
}
.bottom{
    background-color: grey;
    width: 1300px;
    margin-left: 50px;
    padding: 15px;
    border-radius: 15px;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
    padding-right: 15px;
    display: inline-block;
}
input{
    height: 20px;
    width:250px;
    border: none;
}
.div1{
    text-align: center;
}
li{
    display: inline-block;
}
.left2{
    background-color: grey;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    
}
.img{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
ul{
    display: inline-block;

}
.library{
    background-color: grey;
    width: 1300px;
    margin-left: 50px;
    padding: 15px;
    border-radius: 15px;
    margin-top: 30px;

    background-color: grey;
}